<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FaceAvatar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>FaceDetect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>FaceTrack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>FaceX.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>appAvatar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>appFaceDetect.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>appFaceTrack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>8C4DDEF51B7AF3AF00E625A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C4DDF0A1B7B6BCF00E625A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9E7D0C1B73527300B5F44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9E7D1C1B73655600B5F44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9E7D261B737AED00B5F44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9E7D571B74DA4B00B5F44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8C9E7D9D1B74DD8A00B5F44D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
